* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 120px;
}

.header-area {
    background-image: url(../images/donation13.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}


.header-area h1 {
    font-size: 70px;
    padding-top: 10%;
}

.header-area p {
    margin-bottom: 3%;
}

span {
    display: block;
}

.donate-button {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
}

.donate-area {
    text-align: center;
}

.donate-area p {
    margin-bottom: 3%;
    color: gray;
}

.donate-heading {
    font-size: 50px;
    margin-bottom: 1%;
}

.gray-font {
    color: gray;
}

.flexible-area {
    display: flex;
    padding: 0% 400px;
}

.half-width {
    width: 20%;
    margin-top: 40px;
    color: gray;
}

.select-amount {
    color: tomato;
    background-color: rgba(255, 99, 71, 0.078);
    border: 3px solid tomato;
    padding: 40px;
    border-radius: 5px;
}

.donate-area input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid gray;
    width: 40%;
    text-align: center;
    margin-top: 5%;
    font-size: 15px;
    margin-bottom: 3%;
}

.donate-plan-area {
    text-align: center;
}

.donate-plan-area h1 {
    font-size: 50px;
}

.donate-plan-area h2 {
    font: 30px;
    margin-top: 10%;
}

.donate-plan-area p {
    text-align: justify;
}


#donate-p {
    margin-bottom: 5%;
    text-align: center;
}

.flexible-area-two {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;

}

.half-width-2 {
    padding: 3% 4% 5% 3%;
    width: 30%;
    margin-left: 3%;
    text-align: left;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
}

#food {
    background-color: #FAF0E6;
}

#shelter {
    background-color: #E0FFFF;
}

#education {
    background-color: #FFEBCD;
}

.fa-solid {
    font-size: 50px;
}

.pray-area {
    display: flex;
}

.half-width-3 {
    width: 50%;
    padding-left: 8%;
}

.half-width-3 img {
    width: 100%;
    padding-right: 15%;
}

#pray-area-img {
    border-radius: 5px;
}

.half-width-3 h1 {
    font-size: 40px;
    margin-bottom: 2%;
    padding-left: 50px;
}

.half-width-3 p {
    padding-left: 50px;
    margin-bottom: 7%;
}

.more-button {
    text-decoration: none;
    font-size: 20px;
    background-color: tomato;
    padding: 15px 30px;
    border-radius: 5px;
    margin-left: 8%;
    color: white;
}

.my-update-area {
    text-align: center;
}

.my-update-area h1 {
    font-size: 40px;
}

.my-update-area p {
    margin-bottom: 4%;
}

.my-update-area a {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px 12px 20px;
    border-radius: 5px;
    color: white;
}

.my-update-area input {
    padding: 15px 50px 15px 20px;
    border: 0;
    border-radius: 5px;
}

#search-bar {
    width: 50%;
    background-color: #FFEBCD;
    padding: 6%;
    margin-left: 25%;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 3%;
    background-color: #03051b;
    color: white;
}

footer h1 {
    color: tomato;
    font-style: italic;
}